body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
.slideshow {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
  }

  .slides {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

    /* LOG IN FORM */
    .login-form {
        max-width: 400px;
        margin: 0 auto;
        padding: 30px;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-top: 50px;
      }
      .form-group {
        margin-bottom: 20px;
      }
  
  

  /* Navbar styles */
  /* .navbar-custom {
    background-color: #333;
  }

  .navbar-custom .navbar-nav .nav-link {
    color: white;
  }

  .navbar-custom .navbar-nav .nav-link:hover {
    color: white;
  }

  .navbar-custom .dropdown-menu {
    background-color: #f9f9f9;
  }

  .navbar-custom .dropdown-menu a {
    color: black;
  }

  .navbar-custom .dropdown-menu a:hover {
    background-color: #ddd;
    color: black;
  }

   */
  /* Welcome message styles */
  .welnote {
    text-align: center;
    margin: 30px auto;
    max-width: 800px;
    padding: 0 20px;
  }

  /* CANDIDATE's portfolio card */
  .portfolio-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 10px;
  }

  .portfolio-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .manifesto {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px;
    /* Adjust the width as needed  */
    /* is se hmara manefisto overflow ho kr zada jaga nahi lega specific space me ajaega*/
  }
/* My profile page style */
  .profile-info {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .password-icon {
    cursor: pointer;
    color: #007bff;
  }

  .edit-button {
    margin-top: 20px;
  }


/* Styles for the footer */
.footer {
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
margin-top: 3%;
}

  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-content p {
    margin: 0;
  }

  .footer-content nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .footer-content nav ul li {
    display: inline;
    margin-right: 20px;
  }

  .footer-content nav ul li:last-child {
    margin-right: 0;
  }

  .footer-content nav ul li a {
    text-decoration: none;
    color: white;
  }
